# IntelliJ / VSCode / build stuff
.idea/
.vscode/
.gradle/
build/
target/
*.iml

# Maven / Gradle Wrappers
.mvn/
.gradle/
wrapper/

# Terraform files
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl

# Docker
**/Dockerfile
**/docker-compose.yml
docker-compose.override.yml

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
logs/
